body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: black;
	padding: 40px 0px 20px 40px;
	color: white;
}

.title {
	font-size: 40px;
	color: #00ccc8;
	letter-spacing: 4px;
	padding-bottom: 20px;
}

.o {
	padding: 0px 0px 12px 20px;
	letter-spacing: 1px;
	font-size: 24px;
	cursor: pointer;
}

.x {
	letter-spacing: 1px;
	font-size: 16px;
	cursor: pointer;
}

.small {
	font-size: 14px;
}

.o:hover {
	color: #abd6d5;
}

.x:hover {
	color: #abd6d5;
}


.image1 {
	display: none;
	border: 2px solid white;
	border-radius: 10px;
	max-width: 550px;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
}

#poppyimage:hover {
	cursor: pointer;
}

#poppytext2 {
	display: none;
	max-width: 320px;
}

#poppytext3 {
	display: none;
}


#poppylove3 {
	display: none;
	max-width: 320px;
}

#poppylove4 {
	display: none;
	max-width: 320px;
}

.material-icons {
  padding-right: 10px;
}

