body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: black;
	padding: 40px 0px 20px 40px;
	color: white;
}

.title {
	font-size: 40px;
	color: cyan;
	letter-spacing: 4px;
	padding-bottom: 20px;
}

.o {
	padding: 0px 0px 5px 20px;
	letter-spacing: 1px;
	font-size: 24px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px;
}

#backoption {
	display: none;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	letter-spacing: 2px;
	font-size: 24px;
	color: #00f2ff;
	padding-left: 15px;
}

.x {
	letter-spacing: 1px;
	font-size: 20px;
	cursor: pointer;
}

.small {
	font-size: 20px;
}

.o:hover {
	color: #abd6d5;
}

.x:hover {
	color: #abd6d5;
}

/* poppy functions */
.image1 {
	display: none;
	max-width: 900px;
	flex-direction: row;
	align-items: center;
	font-size: 24px;
	margin-top: 15px;
}

#poppyimage:hover {
	cursor: pointer;
}

#poppytext2 {
	display: none;
	max-width: 450px;
}

#poppytext3 {
	display: none;
}

#poppytext2alt {
	display: none;
}


#poppylove3 {
	display: none;
	max-width: 450px;
}

#poppylove4 {
	display: none;
	max-width: 450px;
}

#sadpoppy {
	display:none;
}
.material-icons {
  padding-right: 10px;
}

/* certainty functions */

.image2 {
	display: none;
	max-width: 600px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	margin-top: 15px;
	border: solid white 1px;
	border-radius: 10px;
	padding: 10px 30px 0px 30px;

}


#certaintytext2 {
	display: none;
}

#certaintytext3 {
	display: none;
}

#certaintytext2alt {
	display: none;
}


a{
	text-decoration: none;
}
.image {
	margin: 20px 18px 0px 5px;
}

.image:hover{
	border: 2px solid white;
}

#image1 {
	margin-left: 30px;
}