body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: black;
	padding: 40px 0px 20px 40px;
	color: white;
}

.body {
	display: flex;
	flex-direction: row;
}

.text {
	width: 700px;
}

.o {
	color: aqua;
	display: inline;
}

.o:hover {
	color: blue;
	cursor: pointer;
}

#text1 {
	display:none;
}

#pop {
	max-width: 300px;
	display: none;
}

#pop:hover {
	cursor: pointer;
}