body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: black;
	padding: 40px 0px 20px 40px;
	color: white;
}

.text {
	max-width: 700px;
	display: block;
}

.o {
	color: red;
	display: inline;
}

.o:hover {
	color: blue;
	cursor: pointer;
}