body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: black;
	font-size: 16px;
	color: white;
	letter-spacing: 2px;
	line-height: 150%;
}

.body {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
}

#text1 {
	display:none;
}

#text2 {
	display:none;
	margin: 60px 0px 0px 200px;
	font-size: 40px;
}

#text3 {
	display:none;
	margin: 60px 0px 0px 200px;
	font-size: 40px;
}


.monitor{
	margin-right: 20px;
}

.o {
	color: aqua;
}

.o:hover {
	color: blue;
	cursor: pointer;
}